/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styles */
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #030032; /* Deep blue background */
    user-select: none;
    overflow: hidden;
  }
  
  /* Canvas Styles */
  canvas {
    border: 2px solid #000;
    display: block;
  }
  