h1 {
  text-align: center;
  font-size: 45px;
}

.app-container {
  display: flex;
}

.capital-cities {
  width: 20%;
  background-color: #64c7f1a2;
  padding: 20px;
  border-radius: 5px;
}

.capital-cities ul {
  list-style-type: none;
  padding: 0;
}

.capital-cities ul li {
  border: 1px solid black;
  line-height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.capital-cities ul li:hover {
  background-color: #64c7f1a2;
}

.main-content {
  width: 80%;
  padding: 1em;
  text-align: center;
}

.current-city {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.weather-info {
  text-align: center;
  margin-top: 20px;
}

#city-name {
  font-size: 24px;
}

.fa-heart {
  cursor: pointer;
}

.favorite-icon {
  cursor: pointer;
  font-size: 20px;
}

#location-info {
  padding-bottom: 25px;
}


.weather-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;
  margin: 0 auto;
}

.weather-details .detail-item {
  width: calc(50% - 10px);
  margin: 0;
  text-align: center;
}

.weather-details .detail-item {

  width: calc(50% - 10px);
  margin: 0;
}

.weather-details p {
  margin: 0;
}

.weather-info,
.weather-details,
.forecast {
  margin-bottom: 20px;
}

.forecast-item,
.favorite-city {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

#forecast-section {
  margin-top: 20px;
}

.forecast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#forecast-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto;
}

.forecast-item {
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
  border: 1px solid black;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

#favorites-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.favorites,
.forecast {
  margin-top: 40px;
}

.favorite-city {
  text-align: center;
  width: 100%;
  border: 1px solid black;
}