.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

#main-part {
    border: 1px solid #ddd;
    padding: 20px;
    width: 60%;
}

#favourite-cities {
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
}

#favorites-list {
    list-style-type: none;
    padding: 0;
}

#favorites-list li {
    margin: 5px 0;
    cursor: pointer;
}

#favorites-list li:hover {
    background-color: #f4f4f4;
    padding: 5px;
}

.map {
    width: 100%;
    height: 200px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
}

#city-input {
    margin-top: 10px;
}

#weather-details {
    margin-top: 20px;
}