* {
  box-sizing: border-box;
}

body {
  margin: 8px;
  background-color: #f2f4f6;
}

.heading {
  background-image: url(../img/background.png);
  padding: 100px;
  background-position: center;
  margin-top: 10px;
}

h1 {
  text-align: center;
  color: white;
}

form {
  text-align: center;
}

#spinner {
  width: 200px;
  height: 200px;
  animation: spinning 1s ease infinite;
  border: 20px solid #a5dc86;
  border-top-color: #f2f4f6;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#buttons {
  display: flex;
  justify-content: space-between;
}

#button {
  background-color: #7066e0;
  border: #7066e0;
}

#button:hover {
  background-color: #6459dd;
  border: #6459dd;
}

#search-btn {
  background-color: #7066e0;
  border: #7066e0;
}

#search-btn:hover {
  background-color: #6459dd;
  border: #6459dd;
}

.card {
  margin-top: 10px;
  width: calc(100% / 3.05);
  margin: auto;
  margin-bottom: 5px;
}

img {
  max-height: 450px;
  width: 100%;
}

#book-cover-container {
  height: 460px;
}

#book {
  height: 150px;
}

.line {
  width: 1100px;
}

.list-group-item {
  display: flex;
}

#list-added-books {
  flex-grow: 2;
  margin-left: 10px;
}

footer {
  margin-top: 25px;
  text-align: center;
  background-color: #a38ebe;
  padding: 10px;
  margin-bottom: 0;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.5s linear;
}

a:hover {
  color: white;
}

@media screen and (max-width: 426px) {
  .card {
    width: calc(100% / 1);
  }
  img {
    height: 100%;
    width: fit-content;
  }
  #book-cover-container {
    height: 100%;
  }
}

@media screen and (min-width: 427px) and (max-width: 768px) {
  .card {
    width: calc(100% / 2.05);
  }
}

@media print {
  html,
  body {
    background-color: white;
  }
  footer {
    display: none;
  }
  .card {
    width: calc(100% / 2.05);
  }

  img {
    max-height: 300px;
  }

  #book-cover-container {
    height: 300px;
  }
}
