body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 400px;
    text-align: left;
}
input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    display: block;
}

button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    display:block;
}
#output {
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
}
