body {
    margin: 0;
    padding: 50px 400px;
    text-align: center;
}

#search-form {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

#search-form input {
    padding: 10px;
    font-size: 16px;
}

#search-form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.user-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}

#repositories ul {
    list-style-type: none;
    padding: 0;
}

#repositories li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}