.thumbnail {
	height: 300px;
}

#quote {
	width: 40%;
}

.saved-exs {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #0d6efd;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
}

.saved-exs > img {
	width: 30px;
	height: 30px;
}

footer {
	position: static;
	font-size: 0.7rem;
}

@media (max-width: 800px) {
	#quote {
		width: 90%;
	}
}
