* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
    font-family: sans-serif;
}

.container {
    width: 60%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 10px 10px 10px;
    border-radius: 1rem;
    padding: 1rem;
}

@media (max-width: 800px) {
    .container {
        width: 90%;
    }

}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: larger;
}

button {
    padding: 10px;
    font-size: x-large;
    border-radius: 5px;
    background-color: rgb(0, 255, 174);
    border: 0px;
}

button:hover {
    background-color: rgba(0, 235, 160, 0.991);
    cursor: pointer;
    transition: all;
    transition-duration: 200ms;
}

textarea {
    resize: none;
    height: 180px;

    font-size: larger;
    font-family: sans-serif;
}

textarea,
input {
    padding: 10px;
    border-radius: 0.3rem;
    border: grey 3px solid;
    background-color: rgb(241, 241, 241);
}

textarea:focus,
textarea:active,
input:active,
input:focus {
    border-color: rgb(0, 255, 174);
    outline: none;
}

form input {
    width: 120px;
    font-size: x-large;
    font-weight: bolder;
}

form input::placeholder {
    font-size: 18px;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container p {
    font-size: x-large;
}


#results-header,
#clear-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#clear-button {
    font-weight: 200;
    font-size: large;
    background-color: rgb(222, 222, 222);
}

#clear-button:hover {
    background-color: rgb(208, 208, 208);
}

#results {
    background-color: rgba(195, 195, 195, 0.193);
    border-radius: 0.3rem;
    padding: 5px;
    min-height: 100px;
    margin-top: 10px;
    text-align: center;
    font-size: large;
}