* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    margin: 0;
}

#game-field {
    max-width: 720px;
    height: 560px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: calc(100% / 6);
    height: 120px;
    margin: 4px;
    background-color: rgb(82, 218, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: transparent;
    user-select: none;
    transition: background-color 0.5s ease;
}

.card:hover {
    background-color: rgb(53, 144, 86);
}

.card.revealed {
    background-color: rgb(207, 57, 137);
    color: black;
}