* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #4a7dfc;
    text-align: center;
    
}

#game-field {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    margin: 20px auto;
    max-width: 600px;
}
.card {
    width: 100px;
    height: 100px;
    background-color: #4a7dfc;
    color: #4a7dfc;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
}


.card:hover {
    transform: scale(1.05);

}
.card.revealed {
    background-color: #97e0ff;
    color: #000000;
    cursor: default;
}

