header {
  background-color: var(--main-white-color);
  position: relative;
}

header h1 {
  font-size: 1.6rem;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 1rem;
}

.nav .nav__item {
  text-decoration: none;
  color: var(--main-text-inactive-color);
  fill: var(--main-text-inactive-color);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px 5px 0 0;
  border-bottom: 2px solid var(--main-text-inactive-color);
  font-size: 1.1rem;
  gap: 7px;
  transition: color 0.3s, border-bottom 0.1s;
}

.nav .nav__item path {
  transition: fill 0.1s;
}

.nav .nav__left {
  height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
  display: none;
}

.nav .nav__right {
  margin-left: auto;
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav .nav__menu-button label {
  cursor: pointer;
}

.nav .nav__menu-button input[type="checkbox"] {
  display: none;
}

.nav .nav__company-name {
  display: none;
  white-space: nowrap;
}

.nav .nav__item.active,
.nav .nav__item:hover,
.nav .nav__item.active path {
  color: var(--main-primary-color);
  fill: var(--main-primary-color);
  border-bottom: 2px solid var(--main-primary-color);
}

.main__wrapper {
  display: flex;
  flex-direction: column;
}

.main__wrapper main {
  width: 100%;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__wrapper main.main__full {
  width: 100%;
}

.main__wrapper aside {
  width: 100%;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__wrapper aside .aside__button-pannel {
  display: flex;
  gap: 15px;
}

.card.card__settings-card {
  width: 300px;
  cursor: pointer;
}

.card .card__overview-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0.5rem;
}

.card .card__overview-content .card__overview-content__value {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.card .card__overview-content .card__overview-content__sub {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

.card
  .card__overview-content
  .card__overview-content__sub
  .card__overview-content__sub__value {
  margin-left: auto;
}

.card__overview-content__sub__value.positive {
  color: var(--main-success-color);
}

.card__overview-content__sub__value.negative {
  color: var(--main-danger-color);
}

@media screen and (min-width: 768px) {
  header h1 {
    font-size: 1.8rem;
  }

  .nav {
    margin-left: 3rem;
  }

  .nav .nav__menu-button {
    display: none;
  }

  .nav .nav__left {
    height: 100%;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav:has(.nav__menu-button input[type="checkbox"]:checked) .nav__left {
    height: 250px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--main-white-color);
    padding: 40px 0;
  }
}

@media (min-width: 992px) {
  .nav .nav__company-name {
    display: block;
  }

  .main__wrapper {
    flex-direction: row;
  }

  .main__wrapper main {
    width: 66%;
  }

  .main__wrapper aside {
    width: 34%;
  }
}
