h1 {
  text-align: center;
  background-image: url(../img/place-to-go-background.png);
  color: aliceblue;
  text-indent: 50px;
  font-weight: bold;
  font-size: 60px;
  margin: auto;
  padding: 170px;
  max-width: 1100px;
  background-size: cover;
  margin-bottom: 10px;
}

.transportation {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.transportation h3 {
  margin-left: 50px;
}

.transportation li {
  display: flex;
  width: calc(100% / 3.2);
  margin: auto;
  flex-direction: column;
}

.transportation h3 {
  text-align: center;
  margin: auto;
}

.transportation p {
  height: 120px;
}

@media print {
  .transportation p {
    height: 300px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    padding-top: 170px;
    padding-bottom: 170px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .transportation p {
    height: auto;
  }

  .transportation li {
    display: flex;
    width: calc(100% / 1);
    margin: auto;
    flex-direction: column;
  }
}
