:root {
    --text-color: #ebe9fc;
    --primary-color: #8F3AFF;
    --secondary-color: #020024;
    --accent-color: #0600c2;
    --background-color: #191c29;
    --charcoal-gray: #121212;
    --five-star-color: #c9a36a;
    --four-star-color: #835cc2;
    --dim-gray-color: #2c2d33;
    --light-gray-color: #36373d;
    --relic-color: #4071b8;
    --ornament-color: #387b7a;
    --lightning-element-color: #c65ade;
    --fire-element-color: #ee473d;
    --imaginary-element-color: #e6d863;
    --wind-element-color: #61cf93;
    --physical-element-color: #979797;
    --quantum-element-color: #7e74eb;
    --ice-element-color: #2692d3;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background: linear-gradient(180deg, var(--secondary-color), var(--background-color));
    align-items: center;
}

.logo {
    width: 100px;
    margin: 0 12px;
}

nav {
    display: flex;
    align-items: center;
    height: 107px;
    width: 40%;
}

nav ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    width: calc(100% / 5);
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    color: var(--text-color);
    height: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background: linear-gradient(180deg, var(--primary-color), var(--background-color));
    transition: background-color 0.7s ease;
}

.nav-link.active {
    background: linear-gradient(180deg, var(--primary-color), var(--background-color));
}

main {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 36px;
    margin-bottom: 72px;
    padding: 12px;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: var(--secondary-color);
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/* HOMEPAGE STYLES */

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 60vh;
    margin: auto;
    margin-bottom: 48px;
    overflow: hidden;
}

.banner::before,
.banner::after {
    content: "";
    position: absolute;
    width: 15vw;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}

.banner::before {
    left: 0;
    background: linear-gradient(to right, var(--background-color), transparent);
}

.banner::after {
    right: 0;
    background: linear-gradient(to left, var(--background-color), transparent);
}


.banner-image {
    position: absolute;
    width: 60vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    transition: all 0.5s ease;
    opacity: 0.5;
    transform: scale(0.8);
    border-radius: 4px;
}

.banner-image.image1 {
    background-image: url('../images/banner1.webp');
    animation: image1Cycle 9s infinite;
    width: 68%;
}

.banner-image.image2 {
    background-image: url('../images/banner2.webp');
    animation: image2Cycle 9s infinite;
    width: 68%;
}

.banner-image.image3 {
    background-image: url('../images/banner3.webp');
    animation: image3Cycle 9s infinite;
    width: 68%;
}

@keyframes image1Cycle {

    0%,
    27.5% {
        opacity: 1;
        transform: scale(1);
        z-index: 2;
        left: 15vw;
    }

    33.3%,
    60.8% {
        opacity: 0.5;
        transform: scale(0.8);
        z-index: 1;
        left: -25vw;
    }

    66.6%,
    94.1% {
        opacity: 0.5;
        transform: scale(0.8);
        z-index: 1;
        left: 55vw;
    }

    99.99%,
    100% {
        opacity: 1;
        transform: scale(1);
        z-index: 2;
        left: 15vw;
    }
}


@keyframes image2Cycle {

    0%,
    27.5% {
        opacity: 0.5;
        transform: scale(0.8);
        z-index: 1;
        left: 55vw;
    }

    33.3%,
    60.8% {
        opacity: 1;
        transform: scale(1);
        z-index: 2;
        left: 15vw;
    }

    66.6%,
    94.1% {
        opacity: 0.5;
        transform: scale(0.8);
        z-index: 1;
        left: -25vw;
    }

    99.99%,
    100% {
        opacity: 0.5;
        transform: scale(0.8);
        z-index: 1;
        left: 55vw;
    }
}

@keyframes image3Cycle {

    0%,
    27.5% {
        opacity: 0.5;
        transform: scale(0.8);
        z-index: 1;
        left: -25vw;
    }

    33.3%,
    60.8% {
        opacity: 0.5;
        transform: scale(0.8);
        z-index: 1;
        left: 55vw;
    }

    66.6%,
    94.1% {
        opacity: 1;
        transform: scale(1);
        z-index: 2;
        left: 15vw;
    }

    99.99%,
    100% {
        opacity: 0.5;
        transform: scale(0.8);
        z-index: 1;
        left: -25vw;
    }
}

.text-content,
.welcome-text {
    text-align: center;
    width: 72%;
}

.benefits {
    display: flex;
    width: 70%;
    margin-top: 24px;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    width: 25%;
    height: auto;
}

.benefit p {
    text-align: center;
}

.benefit-img {
    width: 70%;
    height: auto;
}

.image1 {
    width: 76%;
}

.image2 {
    width: 68%;
}

.news {
    width: 70%;
    height: auto;
    margin: 24px;
}

.news h2 {
    font-size: 24px;
}

.news-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    padding: 8px;
}

.news-card {
    width: calc((100% / 2) - 8px);
    height: calc(50% - 16px);
    margin-bottom: 16px;
    border-radius: 4px;
}

.news-card:nth-child(1) {
    background-image: url('../images/noDazzle.webp');
    background-size: contain;
}

.news-card:nth-child(2) {
    background-image: url('../images/rappa.webp');
    background-size: contain;
}

.news-card:nth-child(3) {
    background-image: url('../images/simulatedUniverse.webp');
    background-size: contain;
}

.news-card:nth-child(4) {
    background-image: url('../images/lingsha.webp');
    background-size: contain;
}

.news-card div {
    width: 70%;
    height: 100%;
    margin-left: auto;
    background-color: #ebe9fc;
    border-radius: 0 4px 4px 0;
    padding: 12px;
}

.news-card a h3 {
    margin: 0;
    color: #121212;
}

.news-card a h3:hover {
    color: var(--primary-color);
}

.news-card a {
    text-decoration: none;
}

.news-card a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.news-card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6em;
    line-height: 1.5em;
    color: #121212;
}

/* TIER LIST STYLES */

.tier-list {
    border-collapse: collapse;
    background-color: var(--dim-gray-color);
    letter-spacing: 1px;
    width: 70%;
    margin-bottom: 64px;
}

.tier-row {
    border: 4px solid var(--secondary-color);
    height: 100px;
}

.tier-cell {
    width: 100px;
    line-height: 100px;
    text-align: center;
    border: 4px solid var(--secondary-color);
    color: var(--charcoal-gray);
    font-weight: bold;
}

.ss-tier {
    background-color: #ff6b6b;
}

.s-tier {
    background-color: #ffb56b;
}

.a-tier {
    background-color: #ffe066;
}

.b-tier {
    background-color: #fffb66;
}

.c-tier {
    background-color: #b9fbc0;
}

.d-tier {
    background-color: #a0e8f0;
}

.e-tier {
    background-color: #d3d3d3;
}

.characters-cell {
    display: flex;
    flex-wrap: wrap;
}

.character-image-container {
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 5px;
}

.character-image-container img {
    transform: scale(0.25);
}

.five-star {
    background-color: var(--five-star-color);
}

.four-star {
    background-color: var(--four-star-color);
}


/* Characters page */

.characters-container {
    width: 67%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dim-gray-color);
    border: 3px solid var(--light-gray-color);
    padding: 8px;
}

.characters-container a {
    width: calc(100% / 8);
}

.card {
    height: 200px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin: 4px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.five-star .wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(201, 163, 106, 1), rgba(201, 163, 106, 0.9), transparent);
    pointer-events: none;
    z-index: 3;
}

.four-star .wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(131, 92, 194, 1), rgba(131, 92, 194, 0.9), transparent);
    pointer-events: none;
    z-index: 3;
}

.cover-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: transform 0.2s ease, opacity 0.2s ease;
    object-fit: cover;
    z-index: -1;
}

.card:hover .cover-image {
    z-index: 2;
    opacity: 1;
    transform: scale(1.4);
}

.characters-container a {
    text-decoration: none;
}

.card p {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 2px var(--text-color);
    text-shadow: 2px 2px 4px var(--charcoal-gray);
    text-align: center;
    z-index: 3;
}

/* Teams page*/
.container {
    width: 67%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dim-gray-color);
    border: 3px solid var(--light-gray-color);
    padding: 8px;
}

.substage-one {
    background-color: var(--dim-gray-color);
    width: calc((100% / 2) - 8px);
    margin: 4px;
    padding: 20px;
}

.substage-two {
    background-color: var(--dim-gray-color);
    width: calc((100% / 2) - 8px);
    margin: 4px;
    padding: 20px;
}

.team {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
}

.team-characters {
    display: flex;
}

.team:nth-child(2n+1) {
    background-color: var(--light-gray-color);
}

.team-ranking {
    text-align: center;
}

.team-ranking .rank {
    font-weight: bold;
}

/* Equipment page */
hr {
    width: 80%;
    border: 2px solid var(--secondary-color);
}

.relics-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 4px;
}

.relic {
    width: calc((100% / 2) - 8px);
    margin: 4px;
    border: 3px solid var(--light-gray-color);
}

.relic-name,
.ornament-name {
    display: flex;
    align-items: center;
    background-color: var(--light-gray-color);
    height: 50px;
}

.relic-name img {
    background-color: var(--relic-color);
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.relic-name p {
    margin-left: 12px;
}

.ornament-name img {
    background-color: var(--ornament-color);
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.ornament-name p {
    margin-left: 12px;
}


.relic-description {
    background-color: var(--dim-gray-color);
    padding: 16px;
    height: calc(100% - 50px);
}

.relic-description p {
    margin: 0;
}

/* Specific character page styles */
.character-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/hsr-image.webp);
    background-position: 10% 40%;
    background-size: cover;
    width: 80%;
    background-color: blue;
}

.character-banner h1 {
    margin-left: 90px;
    font-size: 44px;
}

.character-background {
    clip-path: polygon(19% 0, 100% 0%, 81% 100%, 0% 100%);
    margin-right: 90px;
    height: 220px;
}

.character-background img {
    width: 260px;
}

.lightcones,
.characters-relics,
.stats-container {
    width: 80%;
}

.line {
    width: 100%;
}

/* Element styles within character pages */

.lightning-element {
    color: var(--lightning-element-color);
    border-color: var(--lightning-element-color);
}

.character-background.lightning-element {
    background-color: var(--lightning-element-color);
}

.fire-element {
    color: var(--fire-element-color);
    border-color: var(--fire-element-color);
}

.character-background.fire-element {
    background-color: var(--fire-element-color);
}

.imaginary-element {
    color: var(--imaginary-element-color);
    border-color: var(--imaginary-element-color);
}

.character-background.imaginary-element {
    background-color: var(--imaginary-element-color);
}

.wind-element {
    color: var(--wind-element-color);
    border-color: var(--wind-element-color);
}

.character-background.wind-element {
    background-color: var(--wind-element-color);
}

.physical-element {
    color: var(--physical-element-color);
    border-color: var(--physical-element-color);
}

.character-background.physical-element {
    background-color: var(--physical-element-color);
}

.quantum-element {
    color: var(--quantum-element-color);
    border-color: var(--quantum-element-color);
}

.character-background.quantum-element {
    background-color: var(--quantum-element-color);
}

.ice-element {
    color: var(--ice-element-color);
    border-color: var(--ice-element-color);
}

.character-background.ice-element {
    background-color: var(--ice-element-color);
}

.lightcone {
    border: 3px solid var(--light-gray-color);
    background-color: var(--dim-gray-color);
    margin-bottom: 8px;
}

.lc-name {
    display: flex;
    align-items: center;
    background-color: var(--light-gray-color);
    height: 50px;
}

.lc-name img {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.lc-name p span {
    margin-left: 12px;
}

.lc-description {
    padding: 0 20px 0 20px;
}

.five-star-lc {
    color: var(--five-star-color);
}

.lc-name img.five-star-lc {
    background-color: var(--five-star-color);
}

.four-star-lc {
    color: var(--four-star-color);
}

.lc-name img.four-star-lc {
    background-color: var(--four-star-color);
}

.three-star-lc {
    color: var(--relic-color);
}

.lc-name img.three-star-lc {
    background-color: var(--relic-color);
}


.characters-relics .relics-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.characters-relics .relics-container .relic {
    margin: 0;
    width: calc((100% / 2) - 4px);
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dim-gray-color);
    border: 2px solid var(--light-gray-color);
    width: calc((100% / 4) - 8px);
    height: 80px;
    margin-bottom: 8px;
}

.stat p {
    margin: 8px;
}

.stat:nth-child(5) {
    width: 100%;
    height: 50px;
}

/* Media queries for responsive design */
@media (max-width: 1800px) {
    .container {
        flex-direction: column;
        border: 0;
        background-color: transparent;
    }

    .substage-one {
        width: 100%;
    }

    .substage-two {
        width: 100%;
    }

    .team {
        justify-content: space-around;
    }
}

@media (max-width: 1200px) {
    nav {
        width: 60%;
    }

    .banner {
        display: none;
    }

    /* Homepage */
    .welcome-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/hsr-image.webp);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 500px;
        border-radius: 8px;
    }

    .welcome-text .text-content {
        width: 60%;

    }

    .benefit {
        height: 200px;
    }

    .news-card {
        width: 100%;
    }

    /* Characters page */
    .characters-container a {
        width: calc(100% / 4);
    }

    .card p {
        font-size: 18px;
    }

    /* Teams page */
    .container {
        flex-direction: column;
        border: 0;
        background-color: transparent;
    }

    .substage-one {
        width: 100%;
    }

    .substage-two {
        width: 100%;
    }

    .team {
        justify-content: space-around;
    }

    /* Specific character page */
    .characters-relics .relics-container .relic {
        width: 100%;
        margin-bottom: 8px;
    }

    .stat {
        width: calc((100% / 2) - 4px);
    }

    .stat:nth-child(5) {
        height: auto;
    }
}

@media (max-width: 800px) {

    nav {
        width: 80%;
    }

    nav ul li a span {
        font-size: 12px;
    }

    .news-card:nth-child(1) {
        background-image: none;
    }

    .news-card:nth-child(2) {
        background-image: none;
    }

    .news-card:nth-child(3) {
        background-image: none;
    }

    .news-card:nth-child(4) {
        background-image: none;
    }

    .news-card div {
        width: 100%;
        border-radius: 8px;
    }

    /* Characters page */
    .characters-container a {
        width: calc(100% / 2);
    }

    .card p {
        font-size: 18px;
    }

    /* Teams page*/
    .team {
        flex-direction: column;

    }

    /* Equipment page */
    .relics-container {
        flex-direction: column;
    }

    .relic {
        width: 100%;
    }

    /* Specific character page */
    .character-banner {
        background-color: var(--charcoal-gray);
        background-image: none;
    }

    .character-banner h1 {
        font-size: 24px;
        margin-left: 20px;
    }

    .character-banner .character-background {
        clip-path: polygon(15% 0, 85% 0, 85% 100%, 15% 100%);
    }

    .stat {
        width: 100%;
    }

    .stat:nth-child(5) {
        height: auto;
    }
}