*{
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 32px 0px 16px 0px;
}

.form form{
    display: flex;
    flex-direction: column;
}

.form form input, .form form textarea{
    width: 340px;
    margin-bottom: 8px;
    height: 32px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 18px;
}

.form form textarea{
    height: 100px;
}

.text-input, .number-input{
    padding: 16px;
    background-color: rgb(223, 219, 219);
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.form form input{
    width: 100px;
}

i{
    margin-left: 8px;
}

.button{
    display: flex;
    justify-content: center;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 24px;
    width: 180px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: rgb(58, 70, 57);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#result-div{
    margin-top: 48px;
    padding: 16px;
    width: 400px;
    background-color: rgb(223, 219, 219);
    text-decoration: underline;
}

#result-div:empty {
    background-color: white;
}

p{
    background-color: white;
    padding: 8px;
    line-height: 24px;
}