body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    margin: 10px;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Styl pro uživatelský profil */
#user-profile {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

#user-profile img {
    border-radius: 50%;
    margin-bottom: 10px;
}

#user-profile h2 {
    margin: 10px 0;
}

#user-profile p {
    margin: 5px 0;
}

/* Styl pro seznam repozitářů */
#repositories {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#repositories h3 {
    margin-bottom: 10px;
}

#repositories div {
    margin-bottom: 10px;
}

#repositories a {
    color: #007bff;
    text-decoration: none;
}

#repositories a:hover {
    text-decoration: underline;
}