* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#game-field {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-gap: 10px;
    margin: 20px auto;
    width: 500px; /* Adjust based on your preference */
}

.card {
    width: 100px;
    height: 100px;
    background-color: #444;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.card.revealed {
    background-color: #00aaff; /* Different color when revealed */
    color: #fff;
}
