
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  color: white;
  border-color: white;
} 

#landing {
  text-align: center;
}


canvas {
  display: none;
  background: black;
}  
