* {
  font-family: "Inter SansSerif", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: black;
}

.pri-button,
.sec-button {
  border: rgba(0, 0, 0, 0) solid 1px;
  cursor: pointer;
  font-weight: 900;
  font-size: 16px;
  padding: 8px 25px;
}

a.pri-button,
a.sec-button {
  width: 50px;
  text-align: center;
  display: inline-block;
}

.pri-button:hover,
.sec-button:hover {
  background: linear-gradient(40deg in oklab, oklch(75% 0.3 165deg) 0%, oklch(75% 0.2 160deg) 25%, oklch(70% 0.3 165deg) 60%, oklch(65% 0.3 180deg) 100%);
  border: white solid 1px;
  animation: buttonAni 0.4s ease-in-out 0s 2 normal none;
}

.pri-button:active,
.sec-button:active {
  transform: scale(0.8);
}

.pri-button {
  background-color: oklch(70% 0.3 165deg);
}

.sec-button {
  background-color: aquamarine;
}

@keyframes buttonAni {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.sec-name {
  color: white;
  font-weight: normal;
  font-size: 32px;
}

.bg {
  top: -100px;
  left: 0;
  width: 100%;
  height: 400px;
  position: absolute;
  background: black;
  background: linear-gradient(185deg in oklab, oklch(75% 0.3 165deg) 0%, black 80% 100%);
}

main {
  top: 150px;
  left: 0;
  position: absolute;
  width: 100%;
}
main #logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  color: white;
  margin-bottom: 50px;
}
main #logo h1 {
  display: inline;
  font-weight: 100;
  color: white;
  font-size: 128px;
  margin-right: 20px;
}
main #logo h2 {
  display: inline;
  font-weight: 100;
  color: white;
  font-size: 48px;
}
main .box {
  background: oklch(70% 0.3 165deg);
  border-radius: 10px;
  padding: 20px;
  border: rgba(0, 0, 0, 0) solid 1px;
  cursor: pointer;
}
main .box:hover {
  background: linear-gradient(40deg in oklab, oklch(75% 0.3 165deg) 0%, oklch(75% 0.2 160deg) 25%, oklch(70% 0.3 165deg) 60%, oklch(65% 0.3 180deg) 100%);
  border: white solid 1px;
  animation: hoverAni 0.4s ease-in-out 0s 2 normal none;
}

@keyframes hoverAni {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 450px) {
  main #logo h1 {
    font-size: 80px;
  }
}
hr {
  color: aquamarine;
}

main .courses-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
main .courses-container label {
  display: flex;
  gap: 10px;
  margin-block: 20px;
  align-items: baseline;
}
main .courses-container label input[type=file] {
  margin-bottom: 10px;
  width: 200px;
}
main .courses-container label:hover {
  background-color: oklch(65% 0.3 165deg);
  border-radius: 10px;
}
main .courses-container label:hover svg {
  fill: white;
}
main .courses-container .class {
  background-color: oklch(65% 0.3 165deg);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
  margin-top: 20px;
}
main .courses-container .class h2, main .courses-container .class h4 {
  margin: 0;
}
main .courses-container .class .assignments {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
main .courses-container .class .assignments .assignment {
  background-color: oklch(75% 0.3 165deg);
  padding: 10px;
  min-width: 150px;
  width: 250px;
}

/*# sourceMappingURL=style.css.map */
