<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website focused on productivity with free templates for building habits and organizing time.">
    <meta name="author" content="Oleh Lysenko">
    <meta name="keywords" content="productivity, templates, habits, planning, Excel, Notion, habit tracker">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../favicon/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Templates - Your Productivity Hub</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="../Home/" class="">Home</a></li>
                <li><a href="../Templates/" class="active">Templates</a></li>
                <li><a href="../Wallpaper/" class="">Wallpaper</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-btn">About Us</a>
                    <ul class="dropdown-content">
                        <li><a href="../About/Contact/">Contact Us</a></li>
                        <li><a href="../About/FAQs/">FAQs</a></li>
                        <li><a href="../About/Mission/">Our Mission</a></li>
                    </ul>
                </li>
                <li><a href="../Support/" class="">Support Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Habits Tracker Spreadsheet</h1>
            <p>Track your habits and achieve your goals effortlessly with our Habits Tracker template.</p>
        </section>
        <section class="product-section">
            <div class="product-content">
                <div class="product-image">
                    <img src="img/ps1-min.png" alt="Habits Tracker Spreadsheet">
                </div>
                <div class="product-details">
                    <ul>
                        <li>Visualize your habits over time and measure your progress.</li>
                        <li>Identify your best and worst habits to make better decisions.</li>
                        <li>Track daily activities and set achievable goals for each week.</li>
                    </ul>
                    <a href="excel/habitstracker.xlsx" class="download-button" download>Free Download</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <nav class="footer-nav">
            <ul>
                <li><a href="../Templates/">Templates</a></li>
                <li><a href="../Wallpaper/">Wallpaper</a></li>
                <li><a href="../Support/">Support Us</a></li>
            </ul>
        </nav>
        <p>&copy; 2024 Your Productivity Hub | All rights reserved.</p>
    </footer>
</body>
</html>