body,
html {
    height: 100%;
    background-color: #e0e0e0;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/blues-music-notes-min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    /* Pevná výška */
    width: 100%;
    background-color: rgb(0, 136, 255);
    color: white;
    position: relative;
    /* Důležité pro umístění menu */
    text-align: center;
}

.kytarova-skola {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/blue-guitar-min.jpg');
}

h1 {
    margin: 0;
    line-height: 200px;
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    /* Černý stín za textem */
    font-size: 60px;
}

/* Hlavní menu */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Horizontální zarovnání */
    background-color: #333;
    position: absolute;
    bottom: 0;
    /* Menu bude připevněno k dolnímu okraji hlavičky */
    width: 100%;
    justify-content: center;
}

.menu>li {
    position: relative;
    /* Pro vnořená menu */
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    background-color: #333;
    transition: background-color 0.3s;
}



.menu>li>a:hover {
    background-color: #555;
}

/* Rozbalovací submenu */
.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    /* Skryté ve výchozím stavu */
    position: absolute;
    top: 100%;
    /* Pod hlavní položkou */
    left: 0;
    background-color: #333;
    min-width: 150px;
}

.submenu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}

.submenu li a:hover {
    background-color: #555;
}

/* Druhá úroveň submenu */
.submenu li {
    position: relative;
    /* Pro další submenu */
}

.submenu .submenu {
    top: 0;
    left: 100%;
    /* Napravo od rodičovské položky */
}

/* Zobrazení submenu při najetí myší */
.menu>li:hover>.submenu,
.submenu li:hover>.submenu {
    display: block;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 40px;
}

#zakl-info,
#kapela,
#textari,
#vydana-cd,
.kontakt,
#aktuality,
#zakl-info-skoly,
.seznam-akci,
#galerie {
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    /* Zarovnání textu uvnitř */
    background-color: white;
    padding-left: 30px;
}

#zakl-info>h2 {
    text-align: left;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.clen,
.textar {
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    /* Kvůli problému s obtékáním obrázku  */
}

.clen>h3,
.textar>h3,
.cd>h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.datum {
    font-style: italic;
    color: #555;
    font-size: 13px;
    padding-top: 0px;
    margin-top: 0px;
}

.aktualita>h3,
.akce>h3 {
    padding-bottom: 0px;
    margin-bottom: 2px;
}

.aktualita>p,
.akce>p {
    margin-top: 2px;
}

.cd {
    padding-bottom: 20px;
}

.cd>p {
    margin: 0px;
}

.cd>h2 {

    margin-bottom: 10px;
}

.ukazka-cd {
    padding-top: 10px;
}

iframe {
    border-radius: 8px;
}

.medailonek {
    float: left;
    margin: 0 10px 10px 0;
    width: 150px;
    height: auto;
    border: 3px solid black;
    border-radius: 8px;
}

.fotoalbum>img {
    margin-right: 15px;
    border-radius: 5px;
    height: 300px;
}

.akce>img {
    width: 100vh;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    /* Udržuje obsah na středu */

}

.footer-left {
    flex: 1;
    text-align: center;
}

.footer-right {
    text-align: right;
}

.footer-right a {
    color: white;
    text-decoration: none;
}

.footer-right a:hover {
    text-decoration: underline;
}

/*pro tisk*/
@media print {

    .menu,
    header,
    footer {
        display: none;
    }

    body {
        background-color: white;
        /*ušetří barvu v tiskárně*/
    }

    aside,
    footer {
        display: none;
        /*nebudou se pro tisk vůbec zobrazovat*/
    }

    img {
        max-width: 100%;
        /* zajistí, že obrázky budou zmenšeny na šířku stránky */
        height: auto;
    }

    * {
        box-shadow: none !important;
        /* zruší stíny */
        text-shadow: none !important;
    }
}