* {box-sizing: border-box;}



/* Základní styly */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: cadetblue;
    justify-content: center;
}

h2 {
    text-align: center;
}

/* Hlavní nadpis */
.baner h1 {
    font-size: 48px;
}

.banner h3 {
    font-size: 24px;
}

.banner h1, .banner h3{
    background-color: rgba(68, 68, 68, 0.5);
    color: #fff;
    padding: 20px;
    max-width: 840px;
    margin: 0 auto;
    margin-bottom: 20px;}

/* Banner styl */
.banner {
    background-image: url('../img/dolomity-low.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 100px 20px;
}

/* Hlavička a menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #444;
    color: white;
}

header span {
    background-image: url("../img/logo.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 50px; 
    height: 50px; 
}


.menu a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-block;
    transition: background-color 0.5s linear;
}

header .menu a:hover {
    
    background-color: rgb(187, 194, 175);
    color: white;
}

/* Obsah */
main {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e1e1e1;
    max-width: 860px;
    margin: auto;
}

main h3 {
    font-size: 28px;
}

.article h2 {
    border-bottom: 5px solid cadetblue;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responzivní sloupce */
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Styl článků */
.article {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
    text-align: center;
}



.more_info {
    background-color: red;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    font-family: sans-serif;
    background-color: #444;
    color: white;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
}

table {
    border-spacing: 10px; 
    margin: 20px 0; 
    font-size: 16px; 
    text-align: left;
}

.guide {
    background-color: cadetblue;
    color: #fff;
    padding: 10px;
    margin: 5px;
    flex: 1 1 calc(33.333% - 20px); 
    max-width: 300px;
}

.guide img {
    height: 100px;
    border-radius: 5px;
    border: 3px solid white;
}

.guides {
    display: flex; 
    flex-wrap: wrap;
}

    .metodology {
        display: flex; 
        gap: 20px; 
        align-items: center; 
        width: 100%; 
        margin: 20px auto; 
    }
    
    .metodology .description {
        flex: 1 1 50%; 
        max-width: 50%;
        text-align: left;
    }
    
    .metodology .image {
        flex: 1 1 50%; 
        max-width: 50%; 
    }
    
    .metodology .image img {
        width: 100%; 
        height: auto; 
        border-radius: 10px; 
        border: 2px solid gray; 
       
    }
    

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        padding: 10px;
        font-size: 14px;
    }

    .banner {
        padding: 50px 10px;
    }

    main {
        padding: 10px;
    }

    .article {
        font-size: 16px;
    }

    .guide {
        flex: 1 1 calc(50% - 20px); 
    }

    .metodology {
        flex-wrap: wrap;

    }
}


@media (max-width: 480px) {
    .guide {
        flex: 1 1 100%; 
    }
}


/* Tiskové styly */
@media print {
    header, .banner, .menu, footer, .more_info {
        display: none;
    }

    
    body {
        background-color: white; 
        color: black;
        margin: 10px;
    }

    h2, h3 {
        color: black; 
    }

    .article {
        border: none;
        box-shadow: none;
        margin-bottom: 20px;
        page-break-inside: avoid; 
    }

    table {
        border: 1px solid black; 
        border-collapse: collapse;
        width: 100%;
    }

    table td, table th {
        border: 1px solid black; 
        padding: 5px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    main {
        margin: 0;
        padding: 0;
    }
}
